body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding: 20px 0;
}

.card-title {
    display: flex !important;
    align-items: center;
}

.card-title i {
    margin-right: 10px;
}

#summaryContent {
    white-space: pre-wrap;
    font-size: 1.1rem;
    line-height: 1.6;
}

#summaryContent a {
    text-decoration: none;
    transition: color 0.3s ease;
}

#summaryContent a:hover {
    text-decoration: underline;
}

#summaryTimestamp {
    margin-left: 20px;
}

.modal {
    max-width: 400px;
}

/* Style for links in the summary */
.summary-link {
    color: #1565C0;
    text-decoration: none;
    transition: color 0.3s ease;
}

.summary-link:hover {
    color: #0D47A1;
    text-decoration: underline;
}